<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="store">
            <h2><span>Store</span> {{store.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Name</span></dt>
                <dd>
                    <span>{{store.name}}</span>
                </dd>
                <dt><span>Email</span></dt>
                <dd>
                    <span>{{store.email}}</span>
                </dd>
                <dt><span>Picture Url</span></dt>
                <dd>
                    <span>{{store.pictureUrl}}</span>
                </dd>
                <dt><span>City</span></dt>
                <dd>
                    <span>{{store.city}}</span>
                </dd>
                <dt><span>Latitude</span></dt>
                <dd>
                    <span>{{store.latitude}}</span>
                </dd>
                <dt><span>Longitude</span></dt>
                <dd>
                    <span>{{store.longitude}}</span>
                </dd>
                <dt><span>User</span></dt>
                <dd>
                    {{store.userLogin}}
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/store', store.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
